modules = ["web", "python-3.11", "dotnet-7.0", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "cairo", "cargo", "chromedriver", "ffmpeg-full", "fontconfig", "freetype", "ghostscript", "gitFull", "glib", "glibcLocales", "gobject-introspection", "gtk3", "harfbuzz", "lcms2", "libcxx", "libffi", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "mysql80", "openjpeg", "openssl", "pango", "pkg-config", "playwright-driver", "poppler_utils", "postgresql", "qhull", "rustc", "tcl", "tk", "xcodebuild", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
